extends layout.pug

block content
  h1 Sertap On Air
  p Dinlemek ıstediğin müziği söyle.
  p Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid ear splitting feedback!
  button#record(type='button' name='record' onmousedown='startRecording(this);' onmouseup='stopRecording(this);') Listen
  h2 Music
  ul#musicsList

block scripts
  script(src='/static/js/recorder.js')
  script(src='/static/js/main.js')
